---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: accountiams.operator.ibm.com
spec:
  group: operator.ibm.com
  names:
    kind: AccountIAM
    listKind: AccountIAMList
    plural: accountiams
    singular: accountiam
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AccountIAM is the Schema for the accountiams API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AccountIAMSpec defines the desired state of AccountIAM
            properties:
              foo:
                description: Foo is an example field of AccountIAM. Edit accountiam_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: AccountIAMStatus defines the observed state of AccountIAM
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
